.j_checkBox {
  -webkit-appearance: none !important;
}

.j_checkBox[type="checkbox"]:checked {
  -webkit-appearance: checkbox !important;
  border-radius: 4px !important;
}

.j_checkBox[type="checkbox"] {
  accent-color: rgba(255, 255, 255, 0.6) !important;
  background-color: transparent !important;
  /* border: 1px solid rgba(255, 255, 255, 0.6); */
}

/* Default theme (dark) */
body {
  background-color: #141414;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
}

body.light-theme .d_btn.d_createbtn:hover {
  background-color: #f5f5f5;
  color: #141414;
  border-color: #d0d0d0;
}

.d_customborder {
  border: 1px solid #333333;
  /* border-image-source: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1; */
}

.main-price-month ul li {
  list-style: none;
}
.main-price-month ul li::before {
  content: '✓';
  margin-right: 12px;
  color: #FFFFFF;
  font-size: 20px;
}
.d_btn {
  width: 45%;
  padding: 12px 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid;
  transition: all 0.3s ease;
}

.d_cancelbtn {
  background-color: transparent;
  border-color: #141414;
  color: #141414;
  transition: all 0.3s ease;
}

.d_btn.d_cancelbtn:hover {
  background-color: #1414141A;
  color: #141414;
}

.dark .d_cancelbtn {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  transition: all 0.3s ease;
}

.dark .d_btn.d_cancelbtn:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #FFFFFF4D;
}

.d_createbtn {
  background-color: #141414;
  color: #ffffff;
  border-color: #141414;
  transition: all 0.3s ease;
}

.d_btn.d_createbtn:hover {
  background-color: #262529;
  color: #ffffff;
  /* border-color: #FFFFFF4D; */
}

.dark .d_createbtn {
  background-color: #ffffff;
  color: #141414;
  border-color: #ffffff;
  transition: all 0.3s ease;
}

.dark .d_btn.d_createbtn:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #FFFFFF4D;
}

.d_deletebtn {
  background-color: #FF0000;
  color: #fff;
  transition: all 0.3s ease;
  border: none;
}



.d_btn.d_deletebtn:hover {
  background-color: #fff;
  color: #141414;
  border-color: #FFFFFF4D;
}

.d_customscrollbar::-webkit-scrollbar {
  display: none;
}

/* For most browsers */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@media(max-width:425px) {
  .d_btn {
    padding: 8px 0;
  }
}

@media(max-width:320px) {
  .d_btn {
    width: 43%;
  }

  .d_permanently {
    font-size: 13px;
  }

  .d_permanentlyall {
    font-size: 12px;
  }
}